<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
    APP - FINAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let c of componentes"
    [routerLink]="c.redirectTo" detail>
      <ion-icon slot="start" [name]="c.icon"></ion-icon>
      <ion-label>{{c.name}}</ion-label>
    </ion-item>
  </ion-list>
   
  



   <ion-card>
    <ion-card-header>
      <ion-img src="./../../assets/perfil/perfil.jpg" style="width:150px" ></ion-img>
      <ion-card-title><b>Alumno:</b> --------</ion-card-title>
      <ion-card-title> <b>Profesor:</b> ----------- </ion-card-title>
    </ion-card-header>
  
     
  </ion-card>
</ion-content>
